.container {
    height: 100%;
    width: 100%;
    background-color: slategrey;
}

.login-header {
    padding: 3%;
    text-align: center;
    background-color: antiquewhite;
    vertical-align: middle;
    font-size: 30px;
}

.login-container {
    text-align: center;
    background-color: antiquewhite;
    margin: 10% 30%; 
}

.form-group {
    padding: 10% 10% 0% 10%;
}
.form-control {
    border: 2px;
    border-radius: 15px;
    font-size: 22px;
}

.forget-pwd {
    text-align: end;
}

#button {
    margin: 10% 10% 0% 10%;
    background-color: slategrey;
    border-color: slategrey;
}
