*{
    font-family: 'Montserrat', sans-serif !important;

}
.main-container {
    height: 100vh;
    background-color: slategrey;
}

.header {
    padding: 3%;
    text-align: center;
    background-color: antiquewhite;
    vertical-align: middle;
    font-size: 30px;
}

#home-header {
    text-align: end;
}
.login-container {
    text-align: center;
    background-color: antiquewhite;
    margin: 10% 30%; 
}

.form-group {
    padding: 10% 10% 0% 10%;
}

#form-group-profile {
    text-align: left;
}
.form-control {
    border: 2px;
    border-radius: 15px;
    font-size: 22px;
}

.forget-pwd {
    text-align: end;
}

#button {
    margin: 10% 10% 0% 10%;
    background-color: slategrey;
    border-color: slategrey;
}

.profile-div {
    width: 60%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 40px;
}
.profile {
    width: 100%;
}
.profile-img {
    width: 100%;
}
.user-info-container {
    padding: 10px 20px;
    text-align: center;
}

.table {
    margin-top: 40px;
}
